<div class="weather-card" id="weather-card">
  <p id="description" class="description"></p>
  <h2 id="city-name" class="city-name"></h2>
  <p id="temperature" class="temperature-card"></p>
  <p id="humidity" class="humidity"></p>
  <div class="temps-divide">
    <div class="min">
      <span class="min-text">min
  <p id="min-temp" class="min-temp"></p>
      </span>
    </div>
  <!-- <span class="divide-line"></span> -->
  <div class="max">
    <span class="max-text">max
  <p id="max-temp" class="max-temp"></p>
    </span>
  </div>
  </div>
</div>

